<div class="stateBinding">
<div >
    <label>2-Way Binding <input name="2-Way" ng-model="$ctrl.twoWayBinding" type="checkbox"/></label>
</div>
<div>
    <label>1-Way Binding <input name="1-Way" ng-model="$ctrl.oneWayBinding" type="checkbox"/></label>
</div>
<div>
    <label>String Binding <input name="String" ng-model="$ctrl.stringBinding"/></label>
</div>

<div>
    <label>2-Way Binding (optional)<input name="Optional 2-Way" ng-model="$ctrl.optionalTwoWayBinding" type="checkbox" /></label>
</div>
<div>
    <label>1-Way Binding (optional)<input name="Optional 1-Way" ng-model="$ctrl.optionalOneWayBinding" type="checkbox" /></label>
</div>
<div>
    <label>String Binding (optional)<input name="Optional String" ng-model="$ctrl.optionalStringBinding" /></label>
</div>


<div>
    <label>Readonly 1-Way Binding <input name="Readonly 1-Way" ng-model="$ctrl.readOnlyOneWayBinding" type="checkbox" disabled/></label>
</div>

<div>
    <label>onChanges Counter <pre>{{$ctrl.changeCounter}}</pre></label>
</div>
</div>